extends layout

block body
  .webtorrent-desktop-hero
    h1(align='center')
      img(src='/img/WebTorrent.png', alt='WebTorrent', width='200', height='200')
      br
      | Refreex Desktop
    h2(align='center') Streaming torrent app

    include includes/desktop-download-links

  .webtorrent-desktop
    .feature-block
      article
        img.image-left(src='/img/network.png', alt='WebTorrent - network of peers')
        h3 Refreex Desktop connects to both BitTorrent and WebTorrent peers.
        p
          | It can talk to peers running
          = ' '
          a(href='https://www.transmissionbt.com/') Transmission
          |  or
          = ' '
          a(href='https://deluge-torrent.org/') Deluge
          | , and it can also talk to web pages like
          = ' '
          a(href='https://instant.io') instant.io
          | .
    .feature-block
      article
        h2 Features
        ul
          li
            strong Lightweight, fast torrent app
          li
            strong Beautiful user experience
          li
            strong Free, non-commercial, ad-free, and <a href="https://github.com/webtorrent/webtorrent-desktop">open source</a>
          li
            strong Instantly stream video and audio
            ul
              li WebTorrent fetches file pieces from the network on demand for instant playback.
              li
                | Even when the file isn't fully downloaded, seeking still works.
                br
                | (Seeking just reprioritizes which pieces are fetched from the network.)
          li
            strong Stream videos to AirPlay, Chromecast, and DLNA
          li
            strong
              | Based on the most popular and comprehensive torrent package in Node.js,
              = ' '
              a(href='https://www.npmjs.com/package/webtorrent')
                code webtorrent
          li
            strong Full-featured, but bloat free
            ul
              li Opens magnet links and .torrent files
              li Drag-and-drop makes adding or creating torrents easy
              li Discovers peers via tracker servers, DHT (Distributed Hash Table), and peer exchange
              li Supports the WebTorrent protocol for connecting to WebRTC peers (i.e. web browsers)

  script.
    var $downloadLinks = Array.from(document.querySelectorAll('a.download'))
    $downloadLinks.forEach(function ($link) {
      $link.addEventListener('click', function () {
        console.log('Download link clicked!')
        window.ga('send', 'event', 'app', 'download')
      })
    })
