extends layout

block body
  .feature-block
    article
      h1.minimal Torrents on the <em>desktop</em>
      a(href='/desktop', title='WebTorrent Desktop')
        img(src='https://camo.githubusercontent.com/42570befe03a092dbf059566dc52463013bf083c/68747470733a2f2f692e6962622e636f2f6774684d44546e2f436170747572652e706e67')
      h2 The streaming torrent app, focused in music and shared playlists. For Mac, Windows &amp; Linux
      div.featuredCenter
        a.btn.large(href='/desktop') Get Refreex Desktop
      p
        | Refreex Desktop is for streaming torrents. Whether it's
        | an album from the
        = ' '
        a(href='https://archive.org') Internet Archive
        | , music from
        = ' '
        a(href='https://creativecommons.org/music-communities/') Creative Commons
        | , or audiobooks from
        = ' '
        a(href='https://librivox.org/') Librivox
        | , you can play it right away. You don't have to wait for it to finish downloading.

      p Refreex Desktop is fast, free, non-commercial &amp; open source.

  .feature-block
    article
      :markdown
        # What is Refreex?

        Refreex is a torrent-client based entirely on WebTorrent. The mission is bring to the people the advantages of a descentralized network for media like music.

        **WebTorrent** is a streaming torrent client for the **web browser** and the **desktop**.

        WebTorrent is written completely in JavaScript – the language of the web –
        and uses **WebRTC** for peer-to-peer transport whenever possible. No
        browser plugins, extensions, or installation is required to use WebTorrent
        in your browser.

        ## Why?

        Imagine a peer-to-peer YouTube where viewers help to host the site's
        content. By making BitTorrent easier to use, we can get more people to
        participate and take the first steps to re-decentralizing the Internet.

  .feature-block
    article
      h1.minimal Learn more about WebTorrent
      div.featuredCenter
        a.btn.large(href='/intro') Get Started
        a.btn.large(href='/docs') Docs
        a.btn.large(href='/faq') FAQ
